<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
</head>
<body>
    <h1>User Information</h1>
    <p>Username: {{ info_data.username }}</p>

    <h2>Friend List:</h2>
    <ul>
        {% for friend in info_data.friends %}
            <li>{{ friend }}</li>
        {% endfor %}
    </ul>

    <h2>Chat Room List:</h2>
    <ul>
        {% for room in info_data.rooms %}
            <li><a href="{{ url_for('chat', room_id=room.room_id,user_name = info_data.username) }}">{{ room['room_name'] }}</a></li>
        {% endfor %}
    </ul>

    <h2>Friend Requests:</h2>
    <ul>
        {% for request in info_data.friend_requests %}
            <li>{{ request.sender_username }} wants to be your friend. <a href="{{ url_for('accept_request', request_id=request.id) }}">Accept</a> / <a href="{{ url_for('reject_request', request_id=request.id) }}">Reject</a></li>
        {% endfor %}
    </ul>

    <h2>Add Friend:</h2>
    <form action="/add_friend" method="POST">
        <label for="friend_username">Friend's Username:</label>
        <input type="text" id="friend_username" name="friend_username">
        <button type="submit">Add Friend</button>
    </form>

    <h2>Create a New Chat Room</h2>
    <form id="create-room-form" action="/create_room" method="post">
        <label for="room_name">Room Name:</label>
        <input type="text" id="room_name" name="room_name" required>
        <button type="submit">Create</button>
    </form>

    <h2>Join a Chat Room</h2>
    <form id="join-room" action="/join" method="post">
        <label for="join_room_name">Room Name:</label>
        <input type="text" id="join_room_name" name="room_name" required>
        <button type="submit">Join Room</button>
    </form>

    <a href="{{ url_for('logout') }}">Logout</a> 

</body>
</html>
